:root{
    --primary-color: #002F25;
    --primary-color-1: rgba(0, 47, 37, 0.4);
    --primary-color-2: #484848;
    --danger-color: #EB3E18;
    --success-color: #00C600;
    --white-color: #ffffff;
    --white-color-1: #f1f1f1;
    --primary-color-text: #002F25;
    --text-black: #000000;
    --text-gray: #959595;
    --bg-gray: #aeaeae;
    --card-bg: #F8F5F2;
    --additional-bg-color: #F8F5F2;
    --additional-color: #ECECEC;
    --additional-color-2: #C9C9C9;
    --shadow-1: 0px 3px 4px 0px rgba(0, 0, 0, 0.01);
    --rating-color: #f3bc75;
}


*{
    font-family: "Azeret Mono", monospace !important;
    margin: 0;
    box-sizing: border-box;
    &:before,&:after{
        box-sizing: border-box;
    }
}

body{
//font-family: "Philosopher", sans-serif;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #ffffff;
    color: #000;
    line-height: 1.5;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select{
    font: inherit;
}

p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
}

img,video,canvas,svg{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

.fs-12px{
  font-size: 12px;
}

.fs-14px{
    font-size: 14px;
}

.fs-16px{
    font-size: 16px;
}

.fs-17px{
    font-size: 17px;
}

.fs-18px{
    font-size: 18px;
}

.fs-20px{
    font-size: 20px;
}

.fs-21px{
    font-size: 21px;
}

.fs-24px{
    font-size: 24px;
}

.fs-25px{
    font-size: 25px;
}

.fs-30px{
    font-size: 30px;
}

.fs-38px{
    font-size: 38px;
}

.fs-60px{
    font-size: 60px;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.text--primary{
    color: var(--primary-color) !important;
}

.bg--primary{
    background-color: var(--primary-color);
}

.card-bg{
    background-color: var(--card-bg);
}

.text-cs-secondary{
    color: var(--text-gray);
}



.text-cs-black{
    color: var(--text-black);
}
